---
import ButtonSec from "../assets/ButtonSec.jsx";
import Button from "../assets/Button.jsx";
---

<section>
  <div
    class="relative container max-w-4xl w-full mx-auto p-4 py-20 flex flex-col justify-between items-center gap-10"
  >
    <div class="content">
      <h2 class="font-display text-5xl text-white mb-4">
        Lorem Ipsum Dolor Sit Amet
      </h2>
      <p class="text-white mb-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="Buttons">
        <ButtonSec nameurl="Entre em contato" url="/contact" />
        <Button nameurl="Saiba Mais" url="#more" />
      </div>
    </div>
    <div class="image">
      <img
        class="size-full rounded-sm"
        loading="lazy"
        src="https://picsum.photos/600/600?random=1"
        alt="Imagem aleatória do Picsum"
        width="600"
        height="600"
      />
    </div>
  </div>
</section>
