---
import ButtonSec from "../assets/ButtonSec.jsx"
---

<section class="bg-linear-45 from-blue-700 to-indigo-950">
  <div class="container max-w-7xl w-full h-svh flex flex-row justify-center items-center">
    <div class="left p-4 *:text-white">
      <span class="text-sm p-4 py-2 border border-solid rounded-full mb-4 block w-fit">EMPRESA GOOGLE PARTNER</span>
      <h1 class="text-white font-display text-6xl md:text-8xl text-balance">
        Explore o marketing com a Panoram Digital.
      </h1>
      <p class="text-xl text-balance mt-4">
        Ajudamos a sua empresa a crescer com estratégias de marketing digital
        personalizadas.
      </p>

      <div class="*:text-black mt-20 *:p-6 *:px-10 *:text-xl *:font-semibold">
        <ButtonSec nameurl="Saiba Mais" url="/services" />
      </div>

    </div>

  </div>

</section>
