---
import ButtonSec from "../assets/ButtonSec.jsx";
import HorizontalCard from "../assets/HorizontalCard.astro";
---

<section>
  <div class="container max-w-7xl w-full mx-auto p-4 py-20">
    <h2 class="text-center">Como nós trabalhamos</h2>
    <HorizontalCard
      title="LOREM IPSUM"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/Google ADS.png"
      url="#"
    />
    <HorizontalCard
      title="Tecnologia 2"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/HostGator.png"
      url="#"
      classes="flex-row-reverse"
    />
    <HorizontalCard
      title="Tecnologia 3"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/Google Analytics.png"
      url="#"
    />
    <HorizontalCard
      title="Tecnologia 4"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/Meta Ads.png"
      url="#"
      classes="flex-row-reverse"
    />
    <HorizontalCard
      title="Tecnologia 4"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/Looker Studio.png"
      url="#"
      classes=""
    />
    <HorizontalCard
      title="Tecnologia 4"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/Word Press.png"
      url="#"
      classes="flex-row-reverse"
    />
    <HorizontalCard
      title="Tecnologia 4"
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!"
      image="../images/technologies/mLabs.png"
      url="#"
      classes=""
    />
  </div>
</section>
