---
import ButtonSec from "../assets/ButtonSec.jsx"
import HorizontalCard from "../assets/HorizontalCard.astro"
---

<section>
  <div class="container max-w-7xl w-full mx-auto p-4 py-20">
    <h2 class="font-display text-5xl text-center text-white">Como nós trabalhamos</h2>
    <HorizontalCard 
      title="LOREM IPSUM" 
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!" 
      image="https://picsum.photos/4000/3000?random=1" 
      url="#" 
      />
    <HorizontalCard 
      title="Tecnologia 2" 
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!" 
      image="https://picsum.photos/4000/3000?random=2" 
      url="#" 
      classes="flex-row-reverse"
      />
      <HorizontalCard 
      title="Tecnologia 3" 
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!" 
      image="https://picsum.photos/4000/3000?random=3" 
      url="#" 
      />
      <HorizontalCard 
      title="Tecnologia 4" 
      description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam nihil perferendis quis ducimus nulla vel accusamus quos cupiditate incidunt repudiandae numquam veritatis, inventore dolore quae assumenda consectetur libero ipsam!" 
      image="https://picsum.photos/4000/3000?random=4" 
      url="#" 
      classes="flex-row-reverse"
      />
  </div>
</section>
