---
import Button from "./Button.astro"
import ButtonSec from "./ButtonSec.astro"
import { motion, useScroll } from "motion/react"

---

<div class="sticky top-0 h-dvh grid place-content-center">
    <div class="service-card relative top-6 flex flex-row gap-16 items-center justify-center p-12 rounded-xl bg-card-3">
        <div class="image shrink-1 w-1/2">
            <img alt="Random Image" class="rounded-md max-w-[700px] max-h-[300px] object-cover size-full" loading="lazy" src="https://picsum.photos/1400/1400?random=1">
        </div>
        <div class="content text-white shrink-0 w-1/2">
            <h3 class="font-display text-4xl font-medium">Serviço X</h3>
            <p class="font-sans leading-normal mt-8 tracking-normal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad vitae eaque excepturi facere praesentium error. Distinctio tempora excepturi totam illo minus recusandae praesentium, nesciunt rerum modi debitis non error provident? </p>
            <div class="flex flex-row gap-4 mt-12">
                <Button url="/servico" nameurl="Quero Contratar!"/>
                <ButtonSec url="/servico" nameurl="Como isso pode me ajudar?"/>
            </div>
        </div>
    </div>
</div>

<div class="sticky top-0 h-dvh grid place-content-center">
    <div class="service-card relative top-12 flex flex-row gap-16 items-center justify-center p-12 rounded-xl bg-card-4">
        <div class="image shrink-1 w-1/2">
            <img alt="Random Image" class="rounded-md max-w-[700px] max-h-[300px] object-cover size-full" loading="lazy" src="https://picsum.photos/1400/1400?random=2">
        </div>
        <div class="content text-white shrink-0 w-1/2">
            <h3 class="font-display text-4xl font-medium">Serviço X</h3>
            <p class="font-sans leading-normal mt-8 tracking-normal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad vitae eaque excepturi facere praesentium error. Distinctio tempora excepturi totam illo minus recusandae praesentium, nesciunt rerum modi debitis non error provident? </p>
            <div class="flex flex-row gap-4 mt-12">
                <Button url="/servico" nameurl="Quero Contratar!"/>
                <ButtonSec url="/servico" nameurl="Como isso pode me ajudar?"/>
            </div>
        </div>
    </div>
</div>

<!-- Orange -->
<div class="sticky top-0 h-dvh grid place-content-center">
    <div class="service-card relative top-18 flex flex-row gap-16 items-center justify-center p-12 rounded-xl bg-card-1">
        <div class="image shrink-1 w-1/2">
            <img alt="Random Image" class="rounded-md max-w-[700px] max-h-[300px] object-cover size-full" loading="lazy" src="https://picsum.photos/1400/1400?random=3">
        </div>
        <div class="content text-white shrink-0 w-1/2">
            <h3 class="font-display text-4xl font-medium">Serviço X</h3>
            <p class="font-sans leading-normal mt-8 tracking-normal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad vitae eaque excepturi facere praesentium error. Distinctio tempora excepturi totam illo minus recusandae praesentium, nesciunt rerum modi debitis non error provident? </p>
            <div class="flex flex-row gap-4 mt-12">
                <Button url="/servico" nameurl="Quero Contratar!"/>
                <ButtonSec url="/servico" nameurl="Como isso pode me ajudar?"/>
            </div>
        </div>
    </div>
</div>
<!-- Orange -->
<div class="sticky top-0 h-dvh grid place-content-center">
    <div class="service-card relative top-24 flex flex-row gap-16 items-center justify-center p-12 rounded-xl bg-card-2">
        <div class="image shrink-1 w-1/2">
            <img alt="Random Image" class="rounded-md max-w-[700px] max-h-[300px] object-cover size-full" loading="lazy" src="https://picsum.photos/1400/1400?random=4">
        </div>
        <div class="content text-white shrink-0 w-1/2">
            <h3 class="font-display text-4xl font-medium">Serviço X</h3>
            <p class="font-sans leading-normal mt-8 tracking-normal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad vitae eaque excepturi facere praesentium error. Distinctio tempora excepturi totam illo minus recusandae praesentium, nesciunt rerum modi debitis non error provident? </p>
            <div class="flex flex-row gap-4 mt-12">
                <Button url="/servico" nameurl="Quero Contratar!"/>
                <ButtonSec url="/servico" nameurl="Como isso pode me ajudar?"/>
            </div>
        </div>
    </div>
</div>