<div
  class="fixed bottom-4 w-fit left-1/2 -translate-x-1/2 rounded-lg z-40 bg-black/40 border border-solid border-zinc-100/5 backdrop-blur-3xl"
>
  <div class="mx-auto max-w-7xl w-full p-4 text-xs">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full mx-auto rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row gap-4"
    >
      <div
        class="flex flex-row items-center justify-between md:justify-start max-md:gap-8"
      >
        <a class="" href="#">
          <svg
            class="w-40 h-fit object-contain"
            width="1009"
            height="252"
            viewBox="0 0 1009 252"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M40 53.9277C116 83.4277 235.5 89.4277 330.5 55.4277"
              stroke="url(#paint0_linear_364_29)"
              stroke-width="13"
              stroke-linecap="round"></path>
            <path
              d="M331 198.073C255 168.573 135.5 162.573 40.5 196.573"
              stroke="url(#paint1_linear_364_29)"
              stroke-width="13"
              stroke-linecap="round"></path>
            <path
              d="M412.472 54.528C419.555 54.528 425.144 55.3387 429.24 56.96C433.421 58.5813 436.408 61.3973 438.2 65.408C439.992 69.3333 440.888 74.9227 440.888 82.176C440.888 89.4293 439.992 95.0613 438.2 99.072C436.493 103.083 433.635 105.899 429.624 107.52C425.699 109.056 420.408 109.824 413.752 109.824C410.168 109.824 406.712 109.739 403.384 109.568C400.141 109.397 397.155 109.184 394.424 108.928C391.693 108.587 389.347 108.245 387.384 107.904C385.507 107.563 384.184 107.264 383.416 107.008L383.8 100.096C388.323 100.096 393.016 100.096 397.88 100.096C402.744 100.096 407.565 100.096 412.344 100.096C416.611 100.011 419.981 99.4987 422.456 98.56C425.016 97.536 426.808 95.744 427.832 93.184C428.941 90.5387 429.496 86.8693 429.496 82.176C429.496 77.3973 428.941 73.728 427.832 71.168C426.808 68.608 425.016 66.816 422.456 65.792C419.981 64.768 416.611 64.256 412.344 64.256C405.347 64.256 399.288 64.2987 394.168 64.384C389.133 64.4693 385.72 64.5973 383.928 64.768L382.136 55.68C385.379 55.3387 388.408 55.0827 391.224 54.912C394.04 54.7413 397.112 54.656 400.44 54.656C403.768 54.5707 407.779 54.528 412.472 54.528ZM393.4 55.68V144H382.136V55.68H393.4ZM487.696 55.68C488.72 55.68 489.616 55.9787 490.384 56.576C491.152 57.088 491.664 57.8133 491.92 58.752L520.336 144H508.688L485.776 71.552C485.435 70.3573 485.051 69.1627 484.624 67.968C484.283 66.688 483.941 65.4933 483.6 64.384H480.016C479.675 65.4933 479.333 66.688 478.992 67.968C478.651 69.1627 478.267 70.3573 477.84 71.552L454.928 144H443.28L471.696 58.752C471.952 57.8133 472.464 57.088 473.232 56.576C474 55.9787 474.896 55.68 475.92 55.68H487.696ZM504.08 106.624V116.352H459.28V106.624H504.08ZM600.729 55.68V139.52C600.729 142.507 599.278 144 596.377 144H585.369C584.089 144 583.065 143.701 582.297 143.104C581.529 142.507 580.889 141.611 580.377 140.416L550.553 77.824C549.785 76.1173 548.889 74.1973 547.865 72.064C546.841 69.9307 546.073 67.968 545.561 66.176H543.513C543.684 68.0533 543.812 69.9733 543.897 71.936C543.982 73.8987 544.025 75.8613 544.025 77.824V144H532.761V60.16C532.761 57.1733 534.254 55.68 537.241 55.68H547.865C549.145 55.68 550.169 55.9787 550.937 56.576C551.705 57.1733 552.345 58.0693 552.857 59.264L581.785 120.32C582.724 122.112 583.705 124.16 584.729 126.464C585.838 128.683 586.862 130.901 587.801 133.12H589.977C589.892 130.816 589.806 128.555 589.721 126.336C589.636 124.117 589.593 121.899 589.593 119.68V55.68H600.729ZM654.627 54.016C661.027 54.016 666.446 54.784 670.883 56.32C675.406 57.856 678.99 60.416 681.635 64C684.366 67.4987 686.328 72.192 687.523 78.08C688.803 83.968 689.443 91.2213 689.443 99.84C689.443 108.459 688.803 115.712 687.523 121.6C686.328 127.488 684.366 132.224 681.635 135.808C678.99 139.307 675.406 141.824 670.883 143.36C666.446 144.896 661.027 145.664 654.627 145.664C648.227 145.664 642.766 144.896 638.243 143.36C633.806 141.824 630.222 139.307 627.491 135.808C624.76 132.224 622.755 127.488 621.475 121.6C620.28 115.712 619.683 108.459 619.683 99.84C619.683 91.2213 620.28 83.968 621.475 78.08C622.755 72.192 624.76 67.4987 627.491 64C630.222 60.416 633.806 57.856 638.243 56.32C642.766 54.784 648.227 54.016 654.627 54.016ZM654.627 64.128C648.824 64.128 644.216 65.2373 640.803 67.456C637.475 69.6747 635.086 73.3867 633.635 78.592C632.27 83.712 631.587 90.7947 631.587 99.84C631.587 108.8 632.27 115.883 633.635 121.088C635.086 126.293 637.475 130.005 640.803 132.224C644.216 134.443 648.824 135.552 654.627 135.552C660.43 135.552 664.995 134.443 668.323 132.224C671.736 130.005 674.126 126.293 675.491 121.088C676.942 115.883 677.667 108.8 677.667 99.84C677.667 90.7947 676.942 83.712 675.491 78.592C674.126 73.3867 671.736 69.6747 668.323 67.456C664.995 65.2373 660.43 64.128 654.627 64.128ZM738.975 54.528C745.802 54.528 751.306 55.296 755.487 56.832C759.668 58.2827 762.698 60.8427 764.575 64.512C766.538 68.1813 767.519 73.344 767.519 80C767.519 84.7787 766.964 88.7893 765.855 92.032C764.746 95.1893 762.996 97.664 760.607 99.456C758.303 101.163 755.188 102.272 751.263 102.784V103.424C752.714 103.765 754.122 104.491 755.487 105.6C756.938 106.624 758.26 108.032 759.455 109.824C760.65 111.531 761.546 113.621 762.143 116.096L770.719 144H758.687L750.879 116.352C749.77 113.024 748.276 110.677 746.399 109.312C744.522 107.861 742.09 107.136 739.103 107.136C733.898 107.136 729.375 107.136 725.535 107.136C721.695 107.051 718.495 106.965 715.935 106.88C713.375 106.795 711.327 106.752 709.791 106.752L710.175 97.408H738.719C743.071 97.3227 746.484 96.8107 748.959 95.872C751.519 94.9333 753.354 93.2693 754.463 90.88C755.572 88.4053 756.127 84.992 756.127 80.64C756.127 76.288 755.572 72.96 754.463 70.656C753.354 68.2667 751.519 66.6027 748.959 65.664C746.484 64.7253 743.071 64.256 738.719 64.256C731.722 64.256 725.663 64.2987 720.543 64.384C715.508 64.4693 712.095 64.512 710.303 64.512L708.511 55.68C711.754 55.3387 714.783 55.0827 717.599 54.912C720.415 54.7413 723.487 54.656 726.815 54.656C730.228 54.5707 734.282 54.528 738.975 54.528ZM719.647 55.68V144H708.511V55.68H719.647ZM822.196 55.68C823.22 55.68 824.116 55.9787 824.884 56.576C825.652 57.088 826.164 57.8133 826.42 58.752L854.836 144H843.188L820.276 71.552C819.935 70.3573 819.551 69.1627 819.124 67.968C818.783 66.688 818.441 65.4933 818.1 64.384H814.516C814.175 65.4933 813.833 66.688 813.492 67.968C813.151 69.1627 812.767 70.3573 812.34 71.552L789.428 144H777.78L806.196 58.752C806.452 57.8133 806.964 57.088 807.732 56.576C808.5 55.9787 809.396 55.68 810.42 55.68H822.196ZM838.58 106.624V116.352H793.78V106.624H838.58ZM950.717 55.68C953.789 55.68 955.325 57.2587 955.325 60.416L959.037 144H947.773L944.573 65.024H941.885L922.173 130.176C921.49 132.736 919.869 134.016 917.309 134.016H907.197C904.552 134.016 902.845 132.736 902.077 130.176L882.365 65.024H879.805L876.733 144H865.469L868.925 60.416C869.096 57.2587 870.674 55.68 873.661 55.68H886.461C888.85 55.68 890.429 56.96 891.197 59.52L907.709 113.408C908.392 115.371 908.946 117.333 909.373 119.296C909.885 121.259 910.44 123.264 911.037 125.312H913.341C913.938 123.264 914.493 121.259 915.005 119.296C915.517 117.333 916.072 115.285 916.669 113.152L933.181 59.52C933.864 56.96 935.485 55.68 938.045 55.68H950.717ZM386.984 168.448C389.288 168.448 391.24 168.752 392.84 169.36C394.44 169.936 395.736 170.88 396.728 172.192C397.72 173.504 398.44 175.248 398.888 177.424C399.336 179.6 399.56 182.272 399.56 185.44C399.56 188.608 399.336 191.28 398.888 193.456C398.44 195.632 397.72 197.376 396.728 198.688C395.736 200 394.44 200.96 392.84 201.568C391.24 202.144 389.288 202.432 386.984 202.432C384.744 202.432 382.68 202.384 380.792 202.288C378.904 202.224 377.128 202.128 375.464 202L376.856 199.504C378.264 199.536 379.784 199.568 381.416 199.6C383.08 199.632 384.936 199.648 386.984 199.648C389.288 199.648 391.112 199.216 392.456 198.352C393.832 197.456 394.808 195.968 395.384 193.888C395.992 191.808 396.296 188.992 396.296 185.44C396.296 181.888 395.992 179.072 395.384 176.992C394.808 174.912 393.832 173.424 392.456 172.528C391.112 171.632 389.288 171.184 386.984 171.184C384.968 171.184 383.144 171.2 381.512 171.232C379.88 171.264 378.312 171.312 376.808 171.376L375.464 168.88C377.128 168.752 378.904 168.656 380.792 168.592C382.712 168.496 384.776 168.448 386.984 168.448ZM378.584 168.88V202H375.464V168.88H378.584ZM410.365 168.88V202H407.245V168.88H410.365ZM431.34 168.256C432.588 168.256 433.74 168.288 434.796 168.352C435.852 168.416 436.86 168.528 437.82 168.688C438.78 168.816 439.724 168.992 440.652 169.216L440.268 171.568C439.276 171.44 438.3 171.344 437.34 171.28C436.38 171.216 435.42 171.168 434.46 171.136C433.5 171.104 432.524 171.088 431.532 171.088C429.612 171.088 427.996 171.296 426.684 171.712C425.404 172.128 424.364 172.88 423.564 173.968C422.796 175.024 422.236 176.496 421.884 178.384C421.532 180.272 421.356 182.672 421.356 185.584C421.356 189.008 421.612 191.76 422.124 193.84C422.636 195.92 423.484 197.44 424.668 198.4C425.884 199.36 427.484 199.84 429.468 199.84C430.812 199.84 432.012 199.632 433.068 199.216C434.156 198.8 435.148 198.288 436.044 197.68C436.972 197.04 437.852 196.384 438.684 195.712L439.164 197.68C438.492 198.48 437.628 199.264 436.572 200.032C435.548 200.768 434.38 201.392 433.068 201.904C431.756 202.384 430.3 202.624 428.7 202.624C426.172 202.624 424.124 202.016 422.556 200.8C420.988 199.584 419.836 197.712 419.1 195.184C418.396 192.624 418.044 189.36 418.044 185.392C418.044 181.04 418.46 177.632 419.292 175.168C420.156 172.672 421.564 170.896 423.516 169.84C425.468 168.784 428.076 168.256 431.34 168.256ZM441.372 182.848V202H439.116L438.54 197.152L438.3 196.336V182.848H441.372ZM452.459 168.88V202H449.339V168.88H452.459ZM472.282 168.88V202H469.114V168.88H472.282ZM483.322 168.88V171.664H458.122V168.88H483.322ZM498.185 168.88C498.473 168.88 498.729 168.96 498.953 169.12C499.209 169.28 499.369 169.504 499.433 169.792L510.521 202H507.257L497.945 174.064C497.817 173.616 497.673 173.168 497.513 172.72C497.353 172.24 497.209 171.792 497.081 171.376H495.689C495.561 171.792 495.417 172.24 495.257 172.72C495.129 173.168 494.985 173.616 494.825 174.064L485.513 202H482.249L493.337 169.792C493.433 169.504 493.593 169.28 493.817 169.12C494.041 168.96 494.297 168.88 494.585 168.88H498.185ZM504.761 188.272V191.008H487.961V188.272H504.761ZM518.596 168.88V195.904C518.596 196.992 518.9 197.84 519.508 198.448C520.116 199.024 520.98 199.312 522.1 199.312H534.436L534.532 201.76C532.42 201.888 530.276 201.968 528.1 202C525.924 202.032 523.748 202.048 521.572 202.048C519.492 202.048 517.956 201.504 516.964 200.416C515.972 199.296 515.476 197.92 515.476 196.288V168.88H518.596Z"
              fill="white"></path>
            <defs>
              <linearGradient
                id="paint0_linear_364_29"
                x1="40"
                y1="66.2503"
                x2="330.5"
                y2="66.2503"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FE0100"></stop>
                <stop offset="1" stop-color="#FAAD00"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_364_29"
                x1="40.5"
                y1="185.751"
                x2="331"
                y2="185.751"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#029338"></stop>
                <stop offset="1" stop-color="#0377EB"></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-orange-500 focus:outline-none focus:text-orange md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col flex-grow hidden pb-4 md:py-0 md:flex md:items-end justify-center md:flex-row"
      >
        <ul
          class="space-y-2 list-none md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-4"
        >
          <li class="flex flex-col md:flex-row md:gap-6">
            <a
              href="#"
              class="text-white hover:text-orange-500 duration-200 h-full min-h-8 grid place-content-center"
            >
              Serviços
            </a>
            <a
              href="#"
              class="text-white hover:text-orange-500 duration-200 h-full min-h-8 grid place-content-center"
            >
              Sobre
            </a>
            <a
              href="#"
              class="text-white hover:text-orange-500 duration-200 h-full min-h-8 grid place-content-center"
            >
              Cases
            </a>
            <a
              href="#"
              class="text-white hover:text-orange-500 duration-200 h-full min-h-8 grid place-content-center"
            >
              Perguntas Frequentes
            </a>
          </li>
          <li>
            <a
              href="#"
              class="py-3 px-7 border focus:ring-2 h-8 rounded-full border-transparent bg-white hover:bg-white/20 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-black inline-flex items-center justify-center ring-1 ring-transparent lg:ml-auto"
            >
              Contratar
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
