<div
  id="preloader"
  class="fixed inset-0 z-50 bg-black transition-opacity duration-700 opacity-100"
>
  <div class="w-screen h-screen grid place-content-center"></div>
</div>

<script is:inline>
  window.addEventListener("load", () => {
    const preloader = document.getElementById("preloader");
    if (preloader) {
      preloader.style.opacity = "0";
      setTimeout(() => {
        preloader.style.display = "none";
      }, 700);
    }
  });
</script>
