---
import Cards from "../assets/Cards.astro"
---

<section class="block relative">
    <div class="container max-w-7xl w-full mx-auto p-4 flex flex-col justify-center items-center">
        <h2 class="font-display text-6xl font-medium mb-10">Conheça nossos serviços</h2>
        <div class="cards-container">
            <Cards />
        </div>
    </div>
</section>